$body-bg: #1E1E20;

$anchor-font-color: #F25454;
$anchor-font-color-hover: #F25454;

$button-bg-color: #F25454;
$button-border-width: 1px;
$button-border-color: #F2F2F2;
$button-bg-hover: #1e1e20;

$h1-font-size: 70pt;
$h1-font-reduction: rem-calc(10) !default;

$h2-font-reduction: rem-calc(10) !default;

$h3-font-size: 24pt;
$h3-font-reduction: rem-calc(5) !default;

$h4-font-reduction: rem-calc(5) !default;

$topbar-bg: #F25454;

$paragraph-font-size: 1.7rem;
$paragraph-font-weight: 300;
$paragraph-font-family: "franklin-gothic-urw", sans-serif;
$paragraph-font-style: "normal";

p {
  a:hover {
    text-decoration: underline;
  }
}

.heading {
  background-color: $topbar-bg;
  padding-bottom: 20pt;

  h1 {
    color: #F2F2F2;
    font-family: "aktiv-grotesk-std", sans-serif;
    font-weight: 800;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 10pt;
  }

  h2 {
    color: #F2F2F2;
    font-size: 20pt;
    font-family: "aktiv-grotesk-std", sans-serif;
    font-weight: 800;
  }

  .title {
    img {
      margin-top: 2em;
      height: 273px;
      width: 500px;
    }
    h2 {
      font-size: 20pt;
      font-weight: 500;
      padding-bottom: 30pt;
    }
    h3 {
      color: #F2F2F2;
      font-weight: 800;
      margin-bottom: 1em;
    }
  }
}


.top-bar-section {
  .left {
    a {
      text-decoration: none;
      font-family: "aktiv-grotesk-std", sans-serif;
    }
  }

}

.description {
  background-color: #F2F2F2;

  h2 {
    padding: 30pt;
    margin: 0;
    font-family: "franklin-gothic-urw", sans-serif;
    font-style: "normal";
    font-weight: 300;
  }
}

.location {
  background-color: #F25454;
  padding-top: 50pt;
  padding-bottom: 50pt;
  padding-right: 10pt;
  padding-left: 10pt;
  color: black;

  h3 {
    color: #F2F2F2;
    font-family: "franklin-gothic-urw", sans-serif;
    font-style: "normal";
    font-weight: 700;
    margin-bottom: 20pt;
  }

  font-family: "franklin-gothic-urw", sans-serif;
  font-style: "normal";
  font-weight: 300;
}

.schedule_frontpage {
  padding-top: 50pt;
  padding-bottom: 50pt;
  padding-right: 0pt;
  padding-left: 0pt;
  color: #E6E6E6;
  font-family: "franklin-gothic-urw", sans-serif;
  font-style: "normal";
  font-weight: 800;

  h3 {
    margin-bottom: 30pt;
    color: #F25454;
    font-family: "franklin-gothic-urw", sans-serif;
    font-style: "normal";
    font-weight: 700;
  }
  li {
    padding-left: 40pt;
  }

  p.named {
    margin-top: 1.5em;
    margin-bottom: 4em;
    font-size: 14pt;
    font-weight: 500;
  }
}

.speakers_frontpage {
  padding-top: 50pt;
  padding-bottom: 50pt;
  padding-right: 10pt;
  padding-left: 10pt;
  color: #E6E6E6;
  font-family: "franklin-gothic-urw", sans-serif;
  font-style: "normal";
  font-weight: 800;

  h3 {
    margin-bottom: 30pt;
    color: #F25454;
    font-family: "franklin-gothic-urw", sans-serif;
    font-style: "normal";
    font-weight: 700;
  }
  li {
    padding-left: 40pt;
  }

  p.named {
    margin-top: 1.5em;
    margin-bottom: 4em;
    font-size: 14pt;
    font-weight: 500;
  }
}

.call_for_speakers {
  padding-top: 50pt;
  padding-bottom: 50pt;
  padding-right: 10pt;
  padding-left: 10pt;
  color: #E6E6E6;
  font-family: "franklin-gothic-urw", sans-serif;
  font-style: "normal";
  font-weight: 800;

  h3 {
    margin-bottom: 20pt;
    color: #F25454;
    font-family: "franklin-gothic-urw", sans-serif;
    font-style: "normal";
    font-weight: 700;
  }
  li {
    padding-left: 40pt;
  }
}

.sponsors {
  padding-top: 50pt;
  padding-bottom: 50pt;
  padding-right: 10pt;
  padding-left: 10pt;

  background-color: #DCDCDC;

  h3 {
    margin-bottom: 30pt;
    color: #374140;
    font-weight: 700;
  }
}

.footer {
  color: #E6E6E6;
  padding-top: 50pt;
  padding-bottom: 50pt;
  padding-right: 10pt;
  padding-left: 10pt;

  .flatmap_logo {
    width: 30%;
    margin: 20pt;
  }

  font-family: "franklin-gothic-urw", sans-serif;
  font-style: "normal";
  font-weight: 300;
}

.codeOfConduct {
  color: #E6E6E6;
  padding-top: 50pt;
  padding-bottom: 50pt;
  padding-right: 10pt;
  padding-left: 10pt;

  h3 {
    color: #F25454;
    font-family: "franklin-gothic-urw", sans-serif;
    font-style: "normal";
    font-weight: 700;
  }

  font-family: "franklin-gothic-urw", sans-serif;
  font-style: "normal";
  font-weight: 300;

  h4 {
    color: #E6E6E6;
  }
}

.speakers {
  background-color: #F2F2F2;
  padding-top: 50pt;
  padding-bottom: 50pt;
  padding-right: 10pt;
  padding-left: 10pt;

  a {
    font-size: 14pt;
    font-weight: 800;
  }

  p.spaced {
    margin-bottom: 2em;
  }

  p.named {
    font-size: 14pt;
    font-weight: 800;
  }

  h3 {
    font-family: "franklin-gothic-urw", sans-serif;
    font-style: "normal";
    font-weight: 700;
  }

  font-family: "franklin-gothic-urw", sans-serif;
  font-style: "normal";
  font-weight: 300;

  h4 {
    color: #E6E6E6;
  }
}

.large-block-grid-3 {
  li.fakespace {
    width: 16.5%;
  }
}

#twitterImg {
  position: absolute;
  top: 20px;
  right: 25px;
  z-index: 900;

  img {
    height: 27px;
  }
}

ul.schedule {
  list-style: none;
  margin: 0;

  * {
    font-weight: 200;
    font-size: 1rem;
  }

  .schedule_speaker {
    font-weight: 800;
  }

  li.time {
    color: #F2F2F2;
    font-family: "franklin-gothic-urw", sans-serif;
    font-style: "normal";
    font-size: 1.7rem;
    font-weight: 700;
    background-color: #1e1e20;
  }

  li {
    padding: 0;
  }

  li.talk {
    padding-left: 0.5em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    background-color: #F25454;

    a {
      color: #F2F2F2;
    }

    a:hover {
      color: #1E418B
    }
  }

  li.conference {
    color: black;
    background-color: #F2F2F2;
    padding-left: 0.5em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
  }

  li.splittracks {
    margin-bottom: 1em;
  }

  ul.tracks {
    margin-top: 0.7em;
    list-style: none;
    margin: 0;
    width: 100%;
    height: 100%;
    display: table;

    li.track {
      width: 50%;
      margin: 0;
      padding: 0;
      height: 100%;
      display: table-cell;

      .talk {
        margin: 0;
      }

      ul.split {
        list-style: none;
        margin: 0;
        height: 100%;

        li.workshop {
          height: 100%;
        }
      }
    }

    li.workshops {
      width: 50%;
      margin: 0;
      padding: 0;
      height: 100%;
      display: table-cell;
      background-color: #1E418B;

      a {
        color: #F2F2F2;
      }

      a:hover {
        color: #f25454
      }

      ul.split {
        list-style: none;
        margin: 0;
        height: 100%;

        li.workshop {
          height: 100%;
        }
      }
    }

    li {
      padding-left: 0.5em;
      padding-right: 0.5em;
    }

  }

}

@import "settings";
//@import "foundation";

// Or selectively include components
 @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
   "foundation/components/forms",
   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
   "foundation/components/top-bar",
   "foundation/components/type",
//   "foundation/components/offcanvas",
   "foundation/components/visibility";
