<a name="about"></a>
<section class="footer">
  <div class="row">
    <div class="text-center">
      <img class="flatmap_logo" src="images/logo-2016.png" alt="logo-2016"></img>
    </div>
    <br/><br/>
    <p>
      flatMap(Oslo) - A functional programming conference, with focus on Scala and the Java Virtual Machine.
    </p>
    <p>
      On the 27th and 28th of April 2015, a group of enthusiasts organised the fourth flatMap(Oslo) conference.
      It was 2 amazing days. 100 attendees gathered for technical talks, workshops, discussions and craft beer.
      Feedback was great, and in 2016 we gather again for the 5th annual flatMap(Oslo).
      The goal for this year is the same. Small and intimate, but with high ambitions.
    </p>
    <p>
      flatMap(Oslo) is organised by a group of developers from Arktekk – a small independent consultancy company
      based in Oslo, Norway. The financial goal for flatMap(Oslo) is to break even. Every penny we make will go into
      making the best conference possible. Together with our awesome sponsors we work hard to give you a conference
      tailored for enthusiasts of Scala and functional programming on the Java Virtual Machine.
    </p>
    <br/><br/>
    <p class="text-center">Please read our <a href="code_of_conduct.html">Code of Conduct</a></p>
    <br/>
    <p class="text-center">
      <a href="mailto:flatmap@arktekk.no">flatmap@arktekk.no</a><br/><br/>
      <a href="https://twitter.com/flatmaposlo"><img src="images/Twitter_logo_white.png" height="50" width="50"></img>
      </a>
    </p>
  </div>
</section>
