<%= partial "description" %>
<section class="codeOfConduct" id="coc">
  <div class="row">
    <div class="text-center">
      <h3>CODE OF CONDUCT</h3>
    </div>
    <p>
      All attendees, speakers, sponsors and volunteers at our conference are required to agree with the following
      code of conduct. Organisers will enforce this code throughout the event. We are expecting cooperation from all
      participants to help ensuring a safe environment for everybody.
    </p>
    <h4>Need help?</h4>
    <p>
      If you are being harassed, notice that someone else is being harassed, or have any other concerns, please
      contact a member of conference staff. Conference staff will be wearing "flatMap(Oslo)" t-shirts, and
      "Crew"-badges. You can also get in touch with us at <a href="mailto:flatmap@arktekk.no">flatmap@arktekk.no</a>
    </p>
    <h4>The quick version</h4>
    <p>
      Our conference is dedicated to providing a harassment-free conference experience for everyone, regardless of
      gender, age, sexual orientation, disability, physical appearance, body size, race, or religion. We do not
      tolerate harassment of conference participants in any form. Sexual language and imagery is not appropriate for
      any conference venue, including talks, workshops, parties, Twitter and other online media. Conference
      participants violating these rules may be sanctioned or expelled from the conference without a refund at the
      discretion of the conference organisers.
    </p>
    <h4>The less quick version</h4>
    <p>
      Harassment includes offensive verbal comments related to gender, sexual orientation, disability, physical
      appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking,
      following, harassing photography or recording, sustained disruption of talks or other events, inappropriate
      physical contact, and unwelcome sexual attention.
    </p>
    <p>
      Participants asked to stop any harassing behavior are expected to comply immediately.
    </p>
    <p>
      Sponsors are also subject to the anti-harassment policy. In particular, sponsors should not use sexualised
      images, activities, or other material. Booth staff (including volunteers) should not use sexualised
      clothing/uniforms/costumes, or otherwise create a sexualised environment.
    </p>
    <p>
      If a participant engages in harassing behavior, the conference organisers may take any action they deem
      appropriate, including warning the offender or expulsion from the conference with no refund.
    </p>
    <p>
     If you are being harassed, notice that someone else is being harassed, or have any other concerns, please
     contact a member of conference staff immediately. Conference staff can be identified as they'll be wearing
     branded t-shirts.
    </p>
    <p>
      Conference staff will be happy to help participants contact hotel/venue security or local law enforcement,
      provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the
      conference. We value your attendance.
    </p>
    <p>
      We expect participants to follow these rules at conference and workshop venues and conference-related social
      events.
    </p>
    <h4>License</h4>
    <p>
      This Code of Conduct was forked from the example policy at
      <a href="http://confcodeofconduct.com/">http://confcodeofconduct.com/</a>, which is under a
      <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">
        Creative Commons Attribution 3.0 Unported License
      </a>
    </p>

  </div>
</section>
<%= partial "sponsors" %>
<!--<section class="sponsors">
  <a name="sponsors"></a>
  <div class="row text-center">
    <h3>SPONSORS</h3>
    <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">
      <li></li>
      <li><img src="images/arktekk.png" /></li>
    </ul>
    <p>Want to be a sponsor of the flatMap(Oslo) conference?</p>
    <p>Send an email to <a href="mailto:flatmap@arktekk.no">flatmap@arktekk.no</a></p>
  </div>
</section>-->
<a name="about"></a>
<section class="footer">
  <div class="row">
    <div class="text-center">
      <img class="flatmap_logo" src="images/logo-2016.png" alt="logo-2016"></img>
    </div>
    <br/><br/>
    <p class="text-center"><a href="mailto:flatmap@arktekk.no">flatmap@arktekk.no</a></p>
  </div>
</section>
