<%= partial "description" %>
<a name="call_for_speakers"></a>
<section class="call_for_speakers">
  <div class="row">
    <div class="text-center">
      <h3>CALL FOR SPEAKERS</h3>
    </div>
    <p>
      We invite you to contribute to this community by giving a talk or
      a workshop at flatMap(Oslo).
    </p>

    <p>
      The scope of submissions is broad at flatMap(Oslo).
      We're happy to hear about
      field reports,
      new libraries,
      new techniques,
      type astronautics,
      alternative languages,
      or
      <em><a href="https://vimeo.com/channels/flatmap2015/128468977">something</a></em>
      completely
      <em><a href="https://vimeo.com/channels/flatmap2015/128467880">different</a></em>
      &mdash; Whatever you're passionate about.
    </p>
    <p>
      That said, we are nudging the balance a bit towards more broadly accessible subjects
      this year by accepting more talks on
      <em>applied</em> functional programming.
      <!--todo: and <em>motivational / introductory</em> material ???-->
    </p>
    <p>
      Talks are 40 minutes long.
      Workshops are negotiable, but normally one or two slots.
    </p>
    <p>
      We accept proposals continuously until <strong>April 3rd.</strong>
      Don't wait until last minute, we might be fully booked by then.
    </p>
    <br/><br/>
    <p>
      Send your proposal to <a href="mailto:flatmap@arktekk.no">flatmap@arktekk.no</a>
    </p>
  </div>
</section>
<section class="location">
  <a name="venue"></a>
  <div class="row">
    <h3 class="text-center">VENUE</h3>
    <p>flatMap(Oslo) 2016 will be at Teknologihuset - House of Communities.</p>
    <p><a href="http://www.teknologihuset.no/">Teknologihuset</a> is located in <a href="https://www.google.no/maps/place/Pilestredet+56,+0167+Oslo/@59.9234517,10.7295967,17z/data=!4m12!1m9!4m8!1m0!1m6!1m2!1s0x46416e784bc2926d:0xf586945533cf12de!2sPilestredet+56,+0167+Oslo!2m2!1d10.7317854!2d59.923449!3m1!1s0x46416e784bc2926d:0xf586945533cf12de?hl=en">Pilestredet 56</a>, not far from the Oslo city center.</p>
  </div>
</section>
<%= partial "sponsors" %>
<section class="typelevel">
  <a name="typelevel"></a>
  <div class="row">
    <h3 class="text-center">TYPELEVEL SUMMIT</h3>
    <p>On Wednesday the 4th of May, the day after flatMap(Oslo), there will
    be a one day <a href="http://typelevel.org/event/2016-05-summit-oslo/">Typelevel Summit</a> including talks, discussion and hacking,
    focussed on the Typelevel family of <a href="http://typelevel.org/">projects</a>.
    </p>
    <p>The summit is open to
    all, not just current contributors to and users of the Typelevel
    projects, and we are especially keen to encourage participation from
    people who are new to them. </p>
    <p>Whilst many of the Typelevel projects use
    somewhat "advanced" Scala, they are a lot more approachable than many
    people think, and a major part of Typelevel's mission is to make the
    ideas they embody much more widely accessible.
    </p>
    <p>So, if you're
    interested in types and pure functional programming, want to make
    those ideas commonplace and are willing to abide by the <a href="http://typelevel.org/conduct.html">Typelevel code
    of conduct</a>, then this is the place for you and we'd love to see you
    there.
    </p>
  </div>
</section>
<%= partial "about" %>
