<%= partial "description_inverse" %>
<section class="speakers" id="session">
    <div class="row">
      <div class="text-center">
        <h3>REACTIVE MICROSERVICES WITH AKKA AND DOCKER</h3>
      </div>
      <p class="spaced">
          <p>
          Akka is a toolkit for building elastic and resilient distributed
          systems and Docker makes shipping and running those distributed
          systems easy as never before.
          </p>
          <p>
          In this talk we will briefly introduce you to the basics of Akka and
          Docker and then show how you can use these innovative technologies to
          build and run really Reactive micorservices.
          </p>
          <p>
          Don’t expect too many slides, but be prepared for live demos.
          </p>
      </p>
      <div class="text-center">
        <a name="seeberger"></a>
        <p><img src="images/seeberger.png" height="180" width="180"/></p>
        <h3>HEIKO SEEBERGER</h3>
        <p><a href="https://twitter.com/hseeberger">@hseeberger</a></p>
      </div>
      <p class="spaced">
        <p>
        Heiko Seeberger is Fellow at codecentric and an internationally renowned
        expert on Scala and Akka. He has more than 20 years of experience in
        consulting and software development.
        </p>

        <p>
        Heiko tweets under @hseeberger and blogs under heikoseeberger.de.
        </p>
      </p>
  </div>
</section>
<%= partial "sponsors" %>
<%= partial "about" %>
