<%= partial "description_inverse" %>
<section class="speakers" id="speakers">
    <div class="row text-center">
      <h3>SPEAKERS</h3>
    </div>
    <ul class="text-center small-block-grid-1 medium-block-grid-1 large-block-grid-1">
      <li><a href="spiewak.html"><img src="images/spiewak.png" height="150" width="150" /><p class="named">DANIEL SPIEWAK</p></a></li>
    </ul>
  </div>
</section>
<%= partial "sponsors" %>
<%= partial "about" %>
