<section class="speakers" id="speakers">
  <div class="row">
    <div class="text-center">
      <h3>SPEAKERS</h3>
    </div>
    <br/>
    <ul class="text-center small-block-grid-1 medium-block-grid-3 large-block-grid-3">
      <% data.talks.talks.each do |talk| %>
        <% talk.speakers.each do |speaker| %>
          <li><a href="<%= talk.page_name %>.html#session"><img src="images/<%= speaker.image %>" height="150" width="150" /><p class="named"><%= speaker.name %></p></a></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</section>
